body{
    position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
    background-color: skyblue;
}
.frm{
    display: grid;
    grid-gap:1px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    box-shadow: 20px;    
    margin-top: 160px;
    margin-left: 190px;
    margin-right: 190px;
  
    height: 1000px;
    padding-bottom: 200px;
    background-color: white;
    box-shadow: 20px;
    border-radius: 10px;
    border-bottom: 20ch;
  
}
input{
    height: 50px;
 
    border-radius: 10px;
    border-color: silver;
  


}
h1{
    font-size: 10;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 1%;
    text-align: center;
    text-size-adjust: 10;
   color: lightskyblue;
}

